<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.freshliver.ashistant">

    <uses-permission android:name="BIND_VOICE_INTERACTION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AShistant">

        <activity
                android:name=".AssistantActivity"
                android:excludeFromRecents="true"
                android:launchMode="singleInstance"
                android:noHistory="true"
                android:theme="@style/Theme.Activity.Translucent" />

        <activity
                android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name=".assistant.AssistantService"
                android:permission="android.permission.BIND_VOICE_INTERACTION">
            <meta-data
                    android:name="android.voice_interaction"
                    android:resource="@xml/interaction_service" />

            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
        </service>
        <service
                android:name=".assistant.AssistantSessionService"
                android:permission="android.permission.BIND_VOICE_INTERACTION" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.freshliver.ashistant.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>